h1{
    text-align: center;
}
div{
    border: 7px solid black;
    width: 1250px;
    height: 700px;
    margin: 50px auto;
    font-family: calibri;
    font-size: 18px;
    border-radius: 26px;
}

section{
background-color: #f6efef;
width: 1200px;
height: 435px;
margin: auto;
border: 3px solid#c5c3c3 ;
border-radius: 7px;
text-align: justify;
text-indent: 40px;
font-size: 16px;
padding: 15px;
}
img{
    width: 170px;
    height: 170px;
    border-radius: 10px;
    float: right;
    margin: 20px;
}
footer{
    width: 350px;
    border-left: 5px solid #ffb366;
    background-color: #f7dfba;
    font-style: italic;
    font-size: 13px;
    margin-top: 20px;  
    margin-left: 20px;
    text-align: center;
    padding: 25px 8px;
    font-weight: bold;
}